@{
    ViewData["Title"] = "Home Page";
}
@inject SignInManager<ApplicationUser> SignInManager
@if (SignInManager.IsSignedIn(User))
{
<div>
    <br />
    <br />
    <br />
    <a asp-area="" asp-controller="ApplicationUsers" asp-action="Index">Manage User</a>
    <br />
    <br />
    <br />
    <a asp-area="" asp-controller="HotelViewModels" asp-action="Index">Manage Hotel</a>
    <br />
    <br />
    <br />
    <a asp-area="" asp-controller="ActivityViewModels" asp-action="Index">Manage Activities</a>
</div>
}
else
{
    <h2>YOU ARE NOT LOGGED IN</h2>
}
